glob:*.{sdf,asm,obj,ncb,pdb,aps}
glob:{Debug,Release,ExtraLibs-Debug,ExtraLibs-Release,build,dist}

# everything after line 3 is ignored, but better
# start things off with some comment-line character.
# line 1: is for matching files to be deleted
# line 2: is for matching directories to be deleted
