glob:{log.txt,dallocstats.txt,*.sdf,*.asm,*.obj,*.ncb,*.pdb,*.aps,*.vcproj.*.user}
glob:{Debug,Debug_Static,Release,ExtraLibs-Debug,ExtraLibs-Debug_Static,ExtraLibs-Release,build,dist,ipch}

# everything after line 3 is ignored, but better
# start things off with some comment-line character.
# line 1: is for matching files to be deleted
# line 2: is for matching directories to be deleted
